@import url('https://fonts.googleapis.com/css2?family=Anton&family=Montserrat:wght@500&family=Open+Sans:wght@300&display=swap');


* {
    margin: 0;
    padding: 0;
}

body {
    margin-top: 5%;
    background-color: #9BBB8A; 
}

p, li {
    font-family: 'Open Sans', sans-serif;

}

a {
    text-decoration: none;
    color: black;
}

h1 {
    font-size: 30px;
    font-family: 'Anton', sans-serif;
}

h3 {
    font-family: 'Montserrat', sans-serif;
    font-size: 16px;
    margin-top: 10px;
    font-weight: 800;
}

.principal {
    display: flex;
    flex-direction: row;
    gap: 30px;
    margin-left: 20%;
}

.introduction {
    text-align: left;
}

#perfil {
    width: 180px;
    height: 180px;
    box-shadow: 7px 7px;
}

.contact {
    display: flex;
    flex-direction: row;
    gap: 10px;
    justify-content: end;
    margin-right: 10%;
}

.contact-images {
    display: flex;
    flex-direction: row;
    gap: -5px;
    justify-content: center;
}

#github {
    width: 40px;
    height: 40px;
    border-radius: 50%;
}

#linkedln {
    width: 30px;
    height: 30px;
    margin-top: 4px;
    border-radius: 50%;
}

#email {
    width: 30px;
    height: 30px;
    margin-top: 4px;
    margin-left: 4px;
    border-radius: 50%;
}

#resume {
    width: 34px;
    height: 36px;
    margin-top: 4px;
    margin-left: 2px;
    border-radius: 20%;
}

.extra {
    margin-top: 40px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin-left: 2%;
    gap: 50px;
}

li,ol {
    font-weight: 400;
    font-size: 16px;
}

.projects {
    padding: 10px;
    text-align: left;

}
.languages {
    padding: 10px;
    text-align: center;
}

.progImages {
    margin-top: 30px;
    display: flex;
    flex-direction: column;
    gap: 30px;
}

.images {
    display: flex;
    justify-content: center;
    gap: 10px;
}

#js {
    width: 50px;
    height: 50px;
    
}
#ts {
    width: 50px;
    height: 50px;
    
}
#react {
    width: 55px;
    height: 50px;
    
}
#piton {
    width: 50px;
    height: 50px;
    
}
#c {
    width: 45px;
    height: 50px;
}
#css {
    width: 50px;
    height: 47px;
}
#html {
    width: 60px;
    height: 50px;
    margin-left: -10px;
}